# macOS
.DS_Store

# For dot files
.*

# Build artifacts
/build
/.svelte-kit
/package
public/build/

# Dependency management
node_modules/
.yarn/cache/

# IDE/Editor files
.vscode/
.idea/

# Local development
dev.db

# Temporary files
__bun_temp/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
diff_file.txt
diff.txt
diff.diff
Untitled.*
Untitled-*.*

# Deployment/Hosting
.netlify
.sentryclirc
.vercel

# Environment variables
.env*
!.env.example

# Well-known 
!.well-known
